#### Importación de bibliotecas

In [1]:
import pandas as pd

#### Carga del dataset

In [6]:
file = r"C:\Users\Evelyn\Documents\Evelyn\Learning\BCN Activa\simulador empresarial\ProjecteData\Equip_E\Data\alojamientos-turisticos-sample.csv"

df = pd.read_csv(file)
df.head()

,apartment_id,md5,name,description,host_id,neighborhood_overview,neighbourhood_name,neighbourhood_district,latitude,longitude,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,is_instant_bookable,reviews_per_month,country,city,insert_date
0,36187629,66fff4225feb2ddf104ea38f76e4bff1,Piso reformado excelente ubicacion,Apartamento reformado hace dos meses en el Cab...,261787331,NaN,BETERO,POBLATS MARITIMS,39.471490,-0.334600,...,10.0,10.0,10.0,10.0,NaN,True,0.22,spain,valencia,2019-12-31
1,5388904,48790b4dd865e98cc1f5302a2bba1a50,Nice Room in a Penthouse,The apartment is fully equipped. Large bathroo...,20843074,NaN,la Nova Esquerra de l'Eixample,Eixample,41.383530,2.153880,...,8.0,10.0,10.0,10.0,NaN,False,0.01,spain,barcelona,2021-01-12
2,39982406,d3a60e8898bd8ddce4325c8d3d6af7c8,LUXURY 5 BEDROOM APARTMENT IN MONCLOA-ARAVACA,Luxury Apartment located in a priveleged zone ...,308267305,Very quiet residential area in a Posh area of ...,El Plantío,Moncloa - Aravaca,40.466140,-3.809480,...,NaN,NaN,NaN,NaN,VT-12318,True,NaN,spain,madrid,2020-01-10
3,19344018,e2f33bae8c814924e8ce7e6efa8e7245,Habitación zona Atocha,Pareja joven alquila habitación para semana de...,135531703,NaN,Palos de Moguer,Arganzuela,40.405070,-3.693183,...,NaN,NaN,NaN,NaN,NaN,True,NaN,spain,madrid,2019-01-14
4,17218380,11295740bea58c9ae080a459cc8094c5,Spacious villa for rent with private pool,This large holiday home is located in a quiet ...,8345284,L'Escala has a strategic location - everything...,L'Escala,NaN,42.107823,3.141601,...,8.0,9.0,8.0,8.0,HUTG-020958,True,0.29,spain,girona,2018-10-20

#### Exploración inicial

In [ ]:
# tamaño
df.shape

(10000, 40)

In [ ]:
# tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   apartment_id                 10000 non-null  int64
 1   md5                          10000 non-null  object
 2   name                         9997 non-null   object
 3   description                  9862 non-null   object
 4   host_id                      10000 non-null  int64
 5   neighborhood_overview        5899 non-null   object
 6   neighbourhood_name           10000 non-null  object
 7   neighbourhood_district       6079 non-null   object
 8   latitude                     10000 non-null  float64
 9   longitude                    10000 non-null  float64
 10  room_type                    10000 non-null  object
 11  accommodates                 10000 non-null  int64
 12  bathrooms                    9926 non-null   float64
 13  bedrooms                     9930 non-null   float64
 14  beds                         9955 non-null   float64
 15  amenities_list               10000 non-null  object
 16  price                        9746 non-null   float64
 17  minimum_nights               10000 non-null  int64
 18  maximum_nights               10000 non-null  int64
 19  has_availability             9450 non-null   object
 20  availability_30              10000 non-null  int64
 21  availability_60              10000 non-null  int64
 22  availability_90              10000 non-null  int64
 23  availability_365             10000 non-null  int64
 24  number_of_reviews            10000 non-null  int64
 25  first_review_date            7396 non-null   object
 26  last_review_date             7395 non-null   object
 27  review_scores_rating         7291 non-null   float64
 28  review_scores_accuracy       7282 non-null   float64
 29  review_scores_cleanliness    7288 non-null   float64
 30  review_scores_checkin        7277 non-null   float64
 31  review_scores_communication  7286 non-null   float64
 32  review_scores_location       7276 non-null   float64
 33  review_scores_value          7276 non-null   float64
 34  license                      5144 non-null   object
 35  is_instant_bookable          10000 non-null  bool
 36  reviews_per_month            7396 non-null   float64
 37  country                      10000 non-null  object
 38  city                         10000 non-null  object
 39  insert_date                  10000 non-null  object
dtypes: bool(1), float64(14), int64(10), object(15)
memory usage: 3.0+ MB

In [ ]:
# valores nulos
df.isnull().sum()

apartment_id                      0
md5                               0
name                              3
description                     138
host_id                           0
neighborhood_overview          4101
neighbourhood_name                0
neighbourhood_district         3921
latitude                          0
longitude                         0
room_type                         0
accommodates                      0
bathrooms                        74
bedrooms                         70
beds                             45
amenities_list                    0
price                           254
minimum_nights                    0
maximum_nights                    0
has_availability                550
availability_30                   0
availability_60                   0
availability_90                   0
availability_365                  0
number_of_reviews                 0
first_review_date              2604
last_review_date               2605
review_scores_rating           2709
review_scores_accuracy         2718
review_scores_cleanliness      2712
review_scores_checkin          2723
review_scores_communication    2714
review_scores_location         2724
review_scores_value            2724
license                        4856
is_instant_bookable               0
reviews_per_month              2604
country                           0
city                              0
insert_date                       0
dtype: int64

In [14]:
# duplicados
df.duplicated().sum()

np.int64(0)