
# INE PREVISIONES

### Llibreries i càrrega de dades

In [16]:
"""Libreries que poden ser necessàries"""

# Manejo de datos
import pandas as pd                 # Análisis y manipulación de datos en tablas
import numpy as np                  # Cálculos numéricos y matrices
import os                           # Gestión de rutas de archivos

# Visualización de datos
import matplotlib.pyplot as plt     # Gráficos básicos en 2D
import seaborn as sns               # Gráficos estadísticos mejorados
import plotly.express as px         # Gráficos interactivos simplificados
import plotly.graph_objects as go   # Control avanzado de gráficos en Plotly
import plotly.io as pio             # Interfaz de entrada/salida de Plotly
import squarify                     # Visualización de diagramas de "treemap"
from plottable import Table         # Visualización de tablas
import matplotlib.colors as mcolors # Colores y mapas de colores

# Clustering y agrupamiento
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs
from kmodes.kmodes import KModes
from kmodes.kprototypes import KPrototypes

In [17]:
# %pip install plottable
# %pip install kmodes

In [18]:
df_INE = pd.read_csv("../Data/INE/250602_INE.csv")

Paleta de colors

In [19]:
custom_palette = ["#AABBC8", "#2CCED1", "#5F6F81", "#DCE3EA", "#2E2F36"]  
sns.set_palette(sns.color_palette(custom_palette))

### Extracte KPIs

# Anàlisi

### Piràmide poblacional 2025

In [21]:
df_INE.head()

                                                    Variable1\tValor1\tVariable2\tValor2\tVariable3\tValor3\tVariable4\tValor4\tVariable5\tValor5\tPERIODO\tVALOR
Tipo de dato\tProyección a largo plazo\tSexo\tT...                                             555989
Tipo de dato\tProyección a largo plazo\tSexo\tT...                                             746164
Tipo de dato\tProyección a largo plazo\tSexo\tT...                                              62856
Tipo de dato\tProyección a largo plazo\tSexo\tT...                                             359944
Tipo de dato\tProyección a largo plazo\tSexo\tT...                                             694023

In [22]:
df_INE.describe()

       Variable1\tValor1\tVariable2\tValor2\tVariable3\tValor3\tVariable4\tValor4\tVariable5\tValor5\tPERIODO\tVALOR
count                                       15606.000000
mean                                       487656.090991
std                                        293112.364972
min                                             0.000000
25%                                        232424.000000
50%                                        484020.500000
75%                                        739396.750000
max                                        999980.000000

In [23]:
# Eliminar filas con valores nulos
df_INE = df_INE.dropna()
# Eliminar filas duplicadas
df_INE = df_INE.drop_duplicates()
# Convertir la columna 'Fecha' a tipo datetime

### Piràmide poblacional 2030

### Piràmide poblacional 2035

### Piràmide poblacional conjunta