In [ ]:
import pandas as pd

# Estancia media por comunidades autónomas y provincias.

In [ ]:
df_Media_CA_Pro = pd.read_csv(r"../Data/2065.csv", sep='\t') #Estancia media por comunidades autónomas y provincias.

In [ ]:
df_Media_CA_Pro.drop(columns=['Totales Territoriales'], inplace=True)

In [ ]:
df_Media_CA_Pro['Periodo'] = pd.to_datetime(df_Media_CA_Pro['Periodo'].str.replace('M', '-'), format='%Y-%m').dt.to_period('M')

In [ ]:
df_Media_CA_Pro

      Comunidades y Ciudades Autónomas Provincias  Periodo Total
0                                  NaN        NaN  2025-03  2,91
1                                  NaN        NaN  2025-02  2,82
2                                  NaN        NaN  2025-01  2,93
3                                  NaN        NaN  2024-12  2,75
4                                  NaN        NaN  2024-11   2,8
...                                ...        ...      ...   ...
19840                       19 Melilla        NaN  1999-05   3,3
19841                       19 Melilla        NaN  1999-04   4,4
19842                       19 Melilla        NaN  1999-03   3,7
19843                       19 Melilla        NaN  1999-02     3
19844                       19 Melilla        NaN  1999-01   4,5

[19845 rows x 4 columns]

In [ ]:
df_Media_CA_Pro['Provincias'].unique()

array([nan, '04 Almería', '11 Cádiz', '14 Córdoba', '18 Granada',
       '21 Huelva', '23 Jaén', '29 Málaga', '41 Sevilla', '22 Huesca',
       '44 Teruel', '50 Zaragoza', '35 Palmas, Las',
       '38 Santa Cruz de Tenerife', '05 Ávila', '09 Burgos', '24 León',
       '34 Palencia', '37 Salamanca', '40 Segovia', '42 Soria',
       '47 Valladolid', '49 Zamora', '02 Albacete', '13 Ciudad Real',
       '16 Cuenca', '19 Guadalajara', '45 Toledo', '08 Barcelona',
       '17 Girona', '25 Lleida', '43 Tarragona', '03 Alicante/Alacant',
       '12 Castellón/Castelló', '46 Valencia/València', '06 Badajoz',
       '10 Cáceres', '15 Coruña, A', '27 Lugo', '32 Ourense',
       '36 Pontevedra', '01 Araba/Álava', '48 Bizkaia', '20 Gipuzkoa'],
      dtype=object)

In [ ]:
df_Media_CA_Pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19845 entries, 0 to 19844
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Comunidades y Ciudades Autónomas  19530 non-null  object
 1   Provincias                        13545 non-null  object
 2   Periodo                           19845 non-null  period[M]
 3   Total                             19844 non-null  object
dtypes: object(3), period[M](1)
memory usage: 620.3+ KB

In [ ]:
df_Media_CA_Pro['Total'] = df_Media_CA_Pro['Total'].str.replace(',', '.')
df_Media_CA_Pro['Total'] = pd.to_numeric(df_Media_CA_Pro['Total'], errors='coerce')

In [ ]:
df_Media_CA_Pro

      Comunidades y Ciudades Autónomas Provincias  Periodo  Total
0                                  NaN        NaN  2025-03   2.91
1                                  NaN        NaN  2025-02   2.82
2                                  NaN        NaN  2025-01   2.93
3                                  NaN        NaN  2024-12   2.75
4                                  NaN        NaN  2024-11   2.80
...                                ...        ...      ...    ...
19840                       19 Melilla        NaN  1999-05   3.30
19841                       19 Melilla        NaN  1999-04   4.40
19842                       19 Melilla        NaN  1999-03   3.70
19843                       19 Melilla        NaN  1999-02   3.00
19844                       19 Melilla        NaN  1999-01   4.50

[19845 rows x 4 columns]

In [ ]:
df_Media_CA_Pro[df_Media_CA_Pro['Total'].isna()]

      Comunidades y Ciudades Autónomas   Provincias  Periodo  Total
6672                07 Castilla y León     05 Ávila  2020-06    NaN
6673                07 Castilla y León     05 Ávila  2020-05    NaN
7302                07 Castilla y León      24 León  2020-06    NaN
7303                07 Castilla y León      24 León  2020-05    NaN
7617                07 Castilla y León  34 Palencia  2020-06    NaN
7618                07 Castilla y León  34 Palencia  2020-05    NaN
8247                07 Castilla y León   40 Segovia  2020-06    NaN
8248                07 Castilla y León   40 Segovia  2020-05    NaN
9192                07 Castilla y León    49 Zamora  2020-06    NaN
9193                07 Castilla y León    49 Zamora  2020-05    NaN
19272                         18 Ceuta          NaN  2020-06    NaN
19273                         18 Ceuta          NaN  2020-05    NaN
19587                       19 Melilla          NaN  2020-06    NaN
19588                       19 Melilla          NaN  2020-05    NaN

# Viajeros y pernoctaciones según país de residencia del viajero

In [ ]:
df_Pais_Residencia = pd.read_csv(r"../Data\2038.csv", sep='\t') #Viajeros y pernoctaciones según país de residencia del viajero

In [ ]:
df_Pais_Residencia['Países'].unique()

array([nan, 'Residentes en España', 'Residentes en el Extranjero',
       'Alemania', 'Austria', 'Bélgica', 'Dinamarca', 'Finlandia',
       'Francia', 'Grecia', 'Irlanda', 'Italia', 'Luxemburgo',
       'Países Bajos', 'Polonia', 'Portugal', 'República Checa', 'Suecia',
       'Resto de la U.E.', 'Noruega', 'Reino Unido', 'Rusia', 'Suiza',
       'Otros Países Europeos', 'África', 'UE28 sin España',
       'UE27_2020 sin España', 'Resto del Mundo'], dtype=object)

In [ ]:
df_Pais_Residencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20160 entries, 0 to 20159
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   RESIDENCIA/ORIGEN          20160 non-null  object
 1   Países                     17010 non-null  object
 2   Viajeros y pernoctaciones  20160 non-null  object
 3   Periodo                    20160 non-null  object
 4   Total                      19022 non-null  object
dtypes: object(5)
memory usage: 787.6+ KB

In [ ]:
df_Pais_Residencia['Periodo'] = pd.to_datetime(df_Pais_Residencia['Periodo'].str.replace('M', '-'), format='%Y-%m').dt.to_period('M')

In [ ]:
df_Pais_Residencia['Total'] = df_Pais_Residencia['Total'].str.replace('.', '')  # Elimina los separadores de miles
df_Pais_Residencia['Total'] = df_Pais_Residencia['Total'].str.replace(',', '.')  # Convierte los decimales
df_Pais_Residencia['Total'] = pd.to_numeric(df_Pais_Residencia['Total'], errors='coerce')  # Convierte a float

In [ ]:
df_Pais_Residencia

      RESIDENCIA/ORIGEN Países Viajeros y pernoctaciones  Periodo      Total
0                 Total    NaN                   Viajero  2025-03  7680722.0
1                 Total    NaN                   Viajero  2025-02  6539960.0
2                 Total    NaN                   Viajero  2025-01  5776075.0
3                 Total    NaN                   Viajero  2024-12  6553489.0
4                 Total    NaN                   Viajero  2024-11  7171221.0
...                 ...    ...                       ...      ...        ...
20155  Asia (sin Japón)    NaN            Pernoctaciones  1999-05    25427.0
20156  Asia (sin Japón)    NaN            Pernoctaciones  1999-04    26878.0
20157  Asia (sin Japón)    NaN            Pernoctaciones  1999-03    24271.0
20158  Asia (sin Japón)    NaN            Pernoctaciones  1999-02    18530.0
20159  Asia (sin Japón)    NaN            Pernoctaciones  1999-01    13377.0

[20160 rows x 5 columns]

In [ ]:
df_Pais_Residencia[df_Pais_Residencia['Total'].isna()]

      RESIDENCIA/ORIGEN    Países Viajeros y pernoctaciones  Periodo  Total
1947              Total  Alemania                   Viajero  2020-06    NaN
1948              Total  Alemania                   Viajero  2020-05    NaN
2262              Total  Alemania            Pernoctaciones  2020-06    NaN
2263              Total  Alemania            Pernoctaciones  2020-05    NaN
2577              Total   Austria                   Viajero  2020-06    NaN
...                 ...       ...                       ...      ...    ...
20083  Asia (sin Japón)       NaN            Pernoctaciones  2005-05    NaN
20084  Asia (sin Japón)       NaN            Pernoctaciones  2005-04    NaN
20085  Asia (sin Japón)       NaN            Pernoctaciones  2005-03    NaN
20086  Asia (sin Japón)       NaN            Pernoctaciones  2005-02    NaN
20087  Asia (sin Japón)       NaN            Pernoctaciones  2005-01    NaN

[1298 rows x 5 columns]

# Viajeros y pernoctaciones por comunidades autónomas y provincias

In [ ]:
df_CA_Pro = pd.read_csv(r"../Data\2074.csv", sep='\t', dtype={2: str}) #Viajeros y pernoctaciones por comunidades autónomas y provincias

In [197]:
df_CA_Pro.drop(columns=['Residencia: Nivel 1'], inplace=True)

df_CA_Pro.rename(columns={'Residencia: Nivel 2': 'Residencia'}, inplace=True)


df_CA_Pro

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,NaN,NaN,Viajero,NaN,2025M03,7.680.722
1,Total Nacional,NaN,NaN,Viajero,NaN,2025M02,6.539.960
2,Total Nacional,NaN,NaN,Viajero,NaN,2025M01,5.776.075
3,Total Nacional,NaN,NaN,Viajero,NaN,2024M12,6.553.489
4,Total Nacional,NaN,NaN,Viajero,NaN,2024M11,7.171.221
...,...,...,...,...,...,...,...
132295,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,1999M05,1.305
132296,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,1999M04,1.668
132297,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,1999M03,1.673
132298,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,1999M02,1.487
132299,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,1999M01,1.148

In [198]:
df_CA_Pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132300 entries, 0 to 132299
Data columns (total 7 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Totales Territoriales             132300 non-null  object
 1   Comunidades y Ciudades Autónomas  130410 non-null  object
 2   Provincias                        94500 non-null   object
 3   Viajeros y pernoctaciones         132300 non-null  object
 4   Residencia                        88200 non-null   object
 5   Periodo                           132300 non-null  object
 6   Total                             132290 non-null  object
dtypes: object(7)
memory usage: 7.1+ MB

In [199]:
df_CA_Pro['Periodo'] = pd.to_datetime(df_CA_Pro['Periodo'].str.replace('M', '-'), format='%Y-%m').dt.to_period('M')

In [200]:
df_CA_Pro['Total'] = df_CA_Pro['Total'].str.replace('.', '')  # Elimina los separadores de miles
df_CA_Pro['Total'] = df_CA_Pro['Total'].str.replace(',', '.')  # Convierte los decimales
df_CA_Pro['Total'] = pd.to_numeric(df_CA_Pro['Total'], errors='coerce')  # Convierte a float

In [201]:
df_CA_Pro[df_CA_Pro['Total'].isna()]

,Totales Territoriales,Comunidades y Ciudades Autónomas,Provincias,Viajeros y pernoctaciones,Residencia,Periodo,Total
8217,Total Nacional,01 Andalucía,14 Córdoba,Viajero,Residentes en el Extranjero,2022-12,NaN
45417,Total Nacional,07 Castilla y León,05 Ávila,Viajero,NaN,2020-06,NaN
45418,Total Nacional,07 Castilla y León,05 Ávila,Viajero,NaN,2020-05,NaN
45732,Total Nacional,07 Castilla y León,05 Ávila,Viajero,Residentes en España,2020-06,NaN
45733,Total Nacional,07 Castilla y León,05 Ávila,Viajero,Residentes en España,2020-05,NaN
...,...,...,...,...,...,...,...
131413,Total Nacional,19 Melilla,NaN,Pernoctaciones,NaN,2020-05,NaN
131727,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en España,2020-06,NaN
131728,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en España,2020-05,NaN
132042,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,2020-06,NaN
132043,Total Nacional,19 Melilla,NaN,Pernoctaciones,Residentes en el Extranjero,2020-05,NaN