# Extracción del df_original

In [ ]:
# Conexión a MySQl

In [39]:
import mysql.connector

In [ ]:
conexion = mysql.connector.connect(
    host='212.227.90.6',
    database='Equip_9',
    user='Equipo9',
    password='E1q2u3i4p5o9')

# Guardar tablas en un diccionario
cursor = conexion.cursor()
cursor.execute("SHOW DATABASES;")
database = cursor.fetchall()
print(database)     # [('Equip_9',), ('information_schema',), ('original_schema',), ('performance_schema',)]


df_original = pd.read_sql("SELECT * FROM Equip_9.BANK_marketing", conexion)
df_original

[('Equip_9',), ('information_schema',), ('original_schema',), ('performance_schema',)]

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,2,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
2,3,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
3,4,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
4,5,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11158,11159,33.0,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11159,11160,39.0,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11160,11161,32.0,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11161,11162,43.0,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11162,11163,34.0,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [38]:
# Guardo el df_original como CSV para que sea más rápido cargar los datos desde ahí sin tener que hacer siempre la conexión a MySQL
df_original.to_csv('df_original.csv', index=False)

# Cierro el cursor
cursor.close()
# Cierro la conexión
conexion.close()