# 1er paso: Cargar datos y ver información relevante

In [1]:
# Realizar instalación de MySQL a Python
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\oswal\appdata\local\programs\python\python312\lib\site-packages (9.0.0)Note: you may need to restart the kernel to use updated packages.

In [2]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\oswal\appdata\local\programs\python\python312\lib\site-packages (25.0.1)

In [3]:
import mysql.connector as sql  #Aquí importamos la librería mysql.connector renombrándola como sql.

mydb= sql.connect(        #En este bloque establecemos la conexión, para ello necesitamos el host, user, contraseña y la base de datos en cuestión, en este caso Equip_D.
    host= "212.227.90.6",
    user="EquipoD",
    password="E1q2u3i4p5oD",
    database="Equip_D")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CB94874650>

In [4]:
import pandas as pd               #Aquí importamos varias librerías de Python como Pandas, Matplotlib y Seaborn.
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns



Tourist_Accommodation = pd.read_sql("SELECT * FROM Tourist_Accommodation", mydb)     #Aquí cargamos las tablas de Equip_D.

C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\2245227331.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Tourist_Accommodation = pd.read_sql("SELECT * FROM Tourist_Accommodation", mydb)     #Aquí cargamos las tablas de Equip_D.

In [5]:
Tourist_Accommodation

,apartment_id,name,description,host_id,neighbourhood_name,neighbourhood_district,room_type,accommodates,bathrooms,bedrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,is_instant_bookable,reviews_per_month,country,city,insert_date,md5
0,11964,A ROOM WITH A VIEW,Private bedroom in our attic apartment. Right ...,45553,Centro,None,Private room,2,2,1,...,100.0,100.0,100.0,100.0,FALSO,75.0,spain,malaga,31/07/2018,None
1,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,83531,C�rmenes,Latina,Private room,1,1,1,...,100.0,100.0,80.0,90.0,FALSO,52.0,spain,madrid,10/01/2020,None
2,32347,Explore Cultural Sights from a Family-Friendly...,Open French doors and step onto a plant-filled...,139939,San Vicente,Casco Antiguo,Entire home/apt,4,1,2,...,100.0,100.0,100.0,100.0,VERDADERO,142.0,spain,sevilla,29/07/2019,None
3,35379,Double 02 CasanovaRooms Barcelona,Room at a my apartment. Kitchen and 2 bathroom...,152232,l'Antiga Esquerra de l'Eixample,Eixample,Private room,2,2,1,...,100.0,100.0,100.0,90.0,VERDADERO,306.0,spain,barcelona,10/01/2020,None
4,35801,Can Torras Farmhouse Studio Suite,Lay in bed & watch sunlight change the mood of...,153805,Quart,None,Private room,5,1,2,...,100.0,100.0,100.0,100.0,FALSO,39.0,spain,girona,19/02/2019,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,47710189,Beautiful house in the centre in Santa Cristin...,Beautiful house in the center of Santa Cristin...,263841355,Santa Cristina d'Aro,None,Entire home/apt,8,2,4,...,NaN,NaN,NaN,NaN,VERDADERO,NaN,spain,girona,31/01/2021,None
9996,47752964,Costa Brava - Palafrugell - playa y monta�a,Piso con acceso directo a piscina. Lugar muy t...,282214688,Palafrugell,None,Entire home/apt,7,2,3,...,NaN,NaN,NaN,NaN,FALSO,NaN,spain,girona,27/02/2021,None
9997,47792016,MODERN AND BRIGHT NEW FLAT IN THE CENTER OF PA...,Modern and new apartment in the old town of Pa...,263841355,Palam�s,None,Entire home/apt,6,1,3,...,NaN,NaN,NaN,NaN,VERDADERO,NaN,spain,girona,31/01/2021,None
9998,47884481,MIT House Olavide III in Madrid,The apartment is in a characteristic building ...,377605855,Trafalgar,Chamber�,Entire home/apt,4,1,1,...,NaN,NaN,NaN,NaN,FALSO,NaN,spain,madrid,09/02/2021,None
9999,48061552,Gran v�a Double Room,None,387478257,Universidad,Centro,Private room,2,2,1,...,NaN,NaN,NaN,NaN,FALSO,NaN,spain,madrid,09/02/2021,None

In [6]:
Tourist_Accommodation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   apartment_id                 10000 non-null  int64
 1   name                         9997 non-null   object
 2   description                  9862 non-null   object
 3   host_id                      10000 non-null  int64
 4   neighbourhood_name           10000 non-null  object
 5   neighbourhood_district       6079 non-null   object
 6   room_type                    10000 non-null  object
 7   accommodates                 10000 non-null  int64
 8   bathrooms                    9926 non-null   object
 9   bedrooms                     9930 non-null   object
 10  beds                         9955 non-null   float64
 11  amenities_list               9983 non-null   object
 12  price                        9746 non-null   float64
 13  minimum_nights               10000 non-null  int64
 14  maximum_nights               10000 non-null  int64
 15  has_availability             9450 non-null   object
 16  availability_30              10000 non-null  int64
 17  availability_60              10000 non-null  int64
 18  availability_90              10000 non-null  int64
 19  availability_365             10000 non-null  int64
 20  number_of_reviews            10000 non-null  int64
 21  first_review_date            7396 non-null   object
 22  last_review_date             7395 non-null   object
 23  review_scores_rating         7291 non-null   float64
 24  review_scores_accuracy       7282 non-null   float64
 25  review_scores_cleanliness    7288 non-null   float64
 26  review_scores_checkin        7277 non-null   float64
 27  review_scores_communication  7286 non-null   float64
 28  review_scores_location       7276 non-null   float64
 29  review_scores_value          7276 non-null   float64
 30  is_instant_bookable          10000 non-null  object
 31  reviews_per_month            7396 non-null   float64
 32  country                      10000 non-null  object
 33  city                         10000 non-null  object
 34  insert_date                  10000 non-null  object
 35  md5                          0 non-null      object
dtypes: float64(10), int64(10), object(16)
memory usage: 2.7+ MB

In [7]:
Tourist_Accommodation.columns

Index(['apartment_id', 'name', 'description', 'host_id', 'neighbourhood_name',
       'neighbourhood_district', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'amenities_list', 'price', 'minimum_nights',
       'maximum_nights', 'has_availability', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'first_review_date', 'last_review_date',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'is_instant_bookable', 'reviews_per_month',
       'country', 'city', 'insert_date', 'md5'],
      dtype='object')

In [8]:
print(Tourist_Accommodation["insert_date"].head())

0    31/07/2018
1    10/01/2020
2    29/07/2019
3    10/01/2020
4    19/02/2019
Name: insert_date, dtype: object

In [9]:
Tourist_Accommodation.head()

,apartment_id,name,description,host_id,neighbourhood_name,neighbourhood_district,room_type,accommodates,bathrooms,bedrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,is_instant_bookable,reviews_per_month,country,city,insert_date,md5
0,11964,A ROOM WITH A VIEW,Private bedroom in our attic apartment. Right ...,45553,Centro,None,Private room,2,2,1,...,100.0,100.0,100.0,100.0,FALSO,75.0,spain,malaga,31/07/2018,None
1,21853,Bright and airy room,We have a quiet and sunny room with a good vie...,83531,C�rmenes,Latina,Private room,1,1,1,...,100.0,100.0,80.0,90.0,FALSO,52.0,spain,madrid,10/01/2020,None
2,32347,Explore Cultural Sights from a Family-Friendly...,Open French doors and step onto a plant-filled...,139939,San Vicente,Casco Antiguo,Entire home/apt,4,1,2,...,100.0,100.0,100.0,100.0,VERDADERO,142.0,spain,sevilla,29/07/2019,None
3,35379,Double 02 CasanovaRooms Barcelona,Room at a my apartment. Kitchen and 2 bathroom...,152232,l'Antiga Esquerra de l'Eixample,Eixample,Private room,2,2,1,...,100.0,100.0,100.0,90.0,VERDADERO,306.0,spain,barcelona,10/01/2020,None
4,35801,Can Torras Farmhouse Studio Suite,Lay in bed & watch sunlight change the mood of...,153805,Quart,None,Private room,5,1,2,...,100.0,100.0,100.0,100.0,FALSO,39.0,spain,girona,19/02/2019,None

## Diccionario del Dataset
### Identificación del alojamiento:
-apartment_id: Identificador único del alojamiento.<br>
-md5: Código hash único asociado al alojamiento.<br>
-name: Nombre del alojamiento.<br>
-description: Descripción detallada del alojamiento.<br>

### Información del anfitrión y vecindario
-host_id: Identificador único del anfitrión (dueño o gestor del alojamiento).<br>
-Ubicación<br>
-neighborhood_overview: Descripción general del vecindario.<br>
-neighbourhood_name: Nombre del vecindario donde se ubica el alojamiento.<br>
-neighbourhood_district: Distrito o área más amplia a la que pertenece el vecindario.<br>
-latitude y longitude: Coordenadas geográficas del alojamiento.<br>

### Características del alojamiento
-room_type: Tipo de alojamiento (ejemplo: "Entire home/apt", "Private room").<br>
-accommodates: Número de personas que puede alojar.<br>
-bathrooms: Número de baños disponibles.<br>
-bedrooms: Número de habitaciones disponibles.<br>
-beds: Número de camas disponibles.<br>
-amenities_list: Lista de comodidades y servicios incluidos (ejemplo: WiFi, cocina, piscina).<br>

### Disponibilidad y precios
-price: Precio por noche en la moneda local.<br>
-minimum_nights: Número mínimo de noches requeridas para reservar.<br>
-maximum_nights: Número máximo de noches permitidas por reserva.<br>
-has_availability: Indica si el alojamiento está disponible para reservas (True o False).<br>
-availability_30, availability_60, availability_90, availability_365: Número de noches disponibles en los próximos 30, 60, 90 y 365 días, respectivamente.<br>

### Reseñas y puntuaciones
-number_of_reviews: Número total de reseñas recibidas.<br>
-first_review_date y last_review_date: Fecha de la primera y última reseña recibida.<br>
-review_scores_rating: Puntuación global del alojamiento.<br>
-review_scores_accuracy: Puntuación sobre la precisión de la descripción del alojamiento.<br>
-review_scores_cleanliness: Puntuación sobre la limpieza.<br>
-review_scores_checkin: Puntuación sobre la facilidad de check-in.<br>
-review_scores_communication: Puntuación sobre la comunicación con el anfitrión.<br>
-review_scores_location: Puntuación sobre la ubicación.<br>
-review_scores_value: Puntuación sobre la relación calidad-precio.<br>
-reviews_per_month: Promedio de reseñas recibidas por mes.<br>

### Regulación y reservas
-license: Número de licencia turística.<br>
-is_instant_bookable: Indica si la reserva se puede hacer de manera inmediata (True o False).<br>

### Ubicación general y fecha de registro
-country: País donde se ubica el alojamiento.<br>
-city: Ciudad donde se ubica el alojamiento.<br>

# 2do Paso: Mostrar y modificar datos

In [10]:
print(Tourist_Accommodation.isnull().sum())

apartment_id                       0
name                               3
description                      138
host_id                            0
neighbourhood_name                 0
neighbourhood_district          3921
room_type                          0
accommodates                       0
bathrooms                         74
bedrooms                          70
beds                              45
amenities_list                    17
price                            254
minimum_nights                     0
maximum_nights                     0
has_availability                 550
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
number_of_reviews                  0
first_review_date               2604
last_review_date                2605
review_scores_rating            2709
review_scores_accuracy          2718
review_scores_cleanliness       2712
review_scores_checkin           2723
review_scores_communication     2714
review_scores_location          2724
review_scores_value             2724
is_instant_bookable                0
reviews_per_month               2604
country                            0
city                               0
insert_date                        0
md5                            10000
dtype: int64

In [11]:
# Paso 1: Asegurarnos de que no haya valores nulos (NaN)
Tourist_Accommodation['bathrooms'] = pd.to_numeric(Tourist_Accommodation['bathrooms'], errors='coerce')

# Paso 2: Imputar los valores nulos con la mediana
Tourist_Accommodation['bathrooms'] = Tourist_Accommodation['bathrooms'].fillna(Tourist_Accommodation['bathrooms'].median())


# Paso 3: Convertir la columna a tipo entero
Tourist_Accommodation['bathrooms'] = Tourist_Accommodation['bathrooms'].astype('int')

# Verificar si ahora la conversión funciona sin errores
print(Tourist_Accommodation['bathrooms'].head())

0    2
1    1
2    1
3    2
4    1
Name: bathrooms, dtype: int64

In [12]:
# Paso 1: Convertir la columna 'bedrooms' a tipo numérico (lo que convertirá cadenas a números)
Tourist_Accommodation["bedrooms"] = pd.to_numeric(Tourist_Accommodation["bedrooms"], errors='coerce')

# Paso 2: Imputar los valores nulos con la mediana
Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)

# Verificar si los valores se han imputado correctamente
print(Tourist_Accommodation["bedrooms"].head())

0    1.0
1    1.0
2    2.0
3    1.0
4    2.0
Name: bedrooms, dtype: float64

C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\2363426370.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)

In [13]:
# Procedemos con las imputaciones
# Columnas numéricas mejor con mediana ya que los outliers nos pueden afectar. Por ejemplo puede haber casas con 50 baños, pero no es lo habitual.
Tourist_Accommodation["bathrooms"].fillna(Tourist_Accommodation["bathrooms"].median(), inplace=True)
Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)
Tourist_Accommodation["beds"].fillna(Tourist_Accommodation["beds"].median(), inplace=True)
Tourist_Accommodation["price"].fillna(Tourist_Accommodation["price"].median(), inplace=True)
Tourist_Accommodation["minimum_nights"].fillna(Tourist_Accommodation["minimum_nights"].median(), inplace=True)
Tourist_Accommodation["maximum_nights"].fillna(Tourist_Accommodation["maximum_nights"].median(), inplace=True)

# Columnas numéricas mejor con mediana ya que los outliers nos pueden afectar. Por ejemplo puede haber casas con 50 baños, pero no es lo habitual.
Tourist_Accommodation["bathrooms"].fillna(Tourist_Accommodation["bathrooms"].median(), inplace=True)
Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)
Tourist_Accommodation["beds"].fillna(Tourist_Accommodation["beds"].median(), inplace=True)
Tourist_Accommodation["price"].fillna(Tourist_Accommodation["price"].median(), inplace=True)
Tourist_Accommodation["minimum_nights"].fillna(Tourist_Accommodation["minimum_nights"].median(), inplace=True)
Tourist_Accommodation["maximum_nights"].fillna(Tourist_Accommodation["maximum_nights"].median(), inplace=True)

# Columnas de disponibilidad
Tourist_Accommodation["availability_30"].fillna(Tourist_Accommodation["availability_30"].mean(), inplace=True)
Tourist_Accommodation["availability_60"].fillna(Tourist_Accommodation["availability_60"].mean(), inplace=True)
Tourist_Accommodation["availability_90"].fillna(Tourist_Accommodation["availability_90"].mean(), inplace=True)
Tourist_Accommodation["availability_365"].fillna(Tourist_Accommodation["availability_365"].mean(), inplace=True)

# Columnas categóricas
Tourist_Accommodation["neighbourhood_district"].fillna("Desconocido", inplace=True)
Tourist_Accommodation["has_availability"].fillna("unknown", inplace=True)

# Columnas de texto
Tourist_Accommodation["name"].fillna("Desconocido", inplace=True)
Tourist_Accommodation["description"].fillna("No disponible", inplace=True)
Tourist_Accommodation['amenities_list'] = Tourist_Accommodation['amenities_list'].fillna("Sin información")




# Reseñas
Tourist_Accommodation["reviews_per_month"].fillna(0, inplace=True)
review_columns = [
    "review_scores_rating", "review_scores_accuracy", "review_scores_cleanliness",
    "review_scores_checkin", "review_scores_communication", "review_scores_location",
    "review_scores_value"
]
Tourist_Accommodation[review_columns] = Tourist_Accommodation[review_columns].apply(lambda x: x.fillna(x.median()))


# Verificar si quedan nulos
print(Tourist_Accommodation.isnull().sum())

apartment_id                       0
name                               0
description                        0
host_id                            0
neighbourhood_name                 0
neighbourhood_district             0
room_type                          0
accommodates                       0
bathrooms                          0
bedrooms                           0
beds                               0
amenities_list                     0
price                              0
minimum_nights                     0
maximum_nights                     0
has_availability                   0
availability_30                    0
availability_60                    0
availability_90                    0
availability_365                   0
number_of_reviews                  0
first_review_date               2604
last_review_date                2605
review_scores_rating               0
review_scores_accuracy             0
review_scores_cleanliness          0
review_scores_checkin              0
review_scores_communication        0
review_scores_location             0
review_scores_value                0
is_instant_bookable                0
reviews_per_month                  0
country                            0
city                               0
insert_date                        0
md5                            10000
dtype: int64

C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["bathrooms"].fillna(Tourist_Accommodation["bathrooms"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["beds"].fillna(Tourist_Accommodation["beds"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["price"].fillna(Tourist_Accommodation["price"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["minimum_nights"].fillna(Tourist_Accommodation["minimum_nights"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["maximum_nights"].fillna(Tourist_Accommodation["maximum_nights"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["bathrooms"].fillna(Tourist_Accommodation["bathrooms"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["bedrooms"].fillna(Tourist_Accommodation["bedrooms"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["beds"].fillna(Tourist_Accommodation["beds"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["price"].fillna(Tourist_Accommodation["price"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["minimum_nights"].fillna(Tourist_Accommodation["minimum_nights"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["maximum_nights"].fillna(Tourist_Accommodation["maximum_nights"].median(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["availability_30"].fillna(Tourist_Accommodation["availability_30"].mean(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["availability_60"].fillna(Tourist_Accommodation["availability_60"].mean(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["availability_90"].fillna(Tourist_Accommodation["availability_90"].mean(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["availability_365"].fillna(Tourist_Accommodation["availability_365"].mean(), inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["neighbourhood_district"].fillna("Desconocido", inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["has_availability"].fillna("unknown", inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["name"].fillna("Desconocido", inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["description"].fillna("No disponible", inplace=True)
C:\Users\oswal\AppData\Local\Temp\ipykernel_6844\3946479646.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Tourist_Accommodation["reviews_per_month"].fillna(0, inplace=True)

In [14]:
Tourist_Accommodation['bathrooms'] = Tourist_Accommodation['bathrooms'].astype('int')
Tourist_Accommodation['bedrooms'] = Tourist_Accommodation['bedrooms'].astype('int')
Tourist_Accommodation['beds'] = Tourist_Accommodation['beds'].astype('int')

In [15]:
# Verificar si hay duplicados en todo el DataFrame
duplicados = Tourist_Accommodation.duplicated()
print(duplicados)
print("Número de filas duplicadas:", duplicados.sum())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool
Número de filas duplicadas: 0

In [16]:
Tourist_Accommodation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   apartment_id                 10000 non-null  int64
 1   name                         10000 non-null  object
 2   description                  10000 non-null  object
 3   host_id                      10000 non-null  int64
 4   neighbourhood_name           10000 non-null  object
 5   neighbourhood_district       10000 non-null  object
 6   room_type                    10000 non-null  object
 7   accommodates                 10000 non-null  int64
 8   bathrooms                    10000 non-null  int64
 9   bedrooms                     10000 non-null  int64
 10  beds                         10000 non-null  int64
 11  amenities_list               10000 non-null  object
 12  price                        10000 non-null  float64
 13  minimum_nights               10000 non-null  int64
 14  maximum_nights               10000 non-null  int64
 15  has_availability             10000 non-null  object
 16  availability_30              10000 non-null  int64
 17  availability_60              10000 non-null  int64
 18  availability_90              10000 non-null  int64
 19  availability_365             10000 non-null  int64
 20  number_of_reviews            10000 non-null  int64
 21  first_review_date            7396 non-null   object
 22  last_review_date             7395 non-null   object
 23  review_scores_rating         10000 non-null  float64
 24  review_scores_accuracy       10000 non-null  float64
 25  review_scores_cleanliness    10000 non-null  float64
 26  review_scores_checkin        10000 non-null  float64
 27  review_scores_communication  10000 non-null  float64
 28  review_scores_location       10000 non-null  float64
 29  review_scores_value          10000 non-null  float64
 30  is_instant_bookable          10000 non-null  object
 31  reviews_per_month            10000 non-null  float64
 32  country                      10000 non-null  object
 33  city                         10000 non-null  object
 34  insert_date                  10000 non-null  object
 35  md5                          0 non-null      object
dtypes: float64(9), int64(13), object(14)
memory usage: 2.7+ MB

Tareas:<br>
Pasar insert_date a formato fecha<br>
Ocuparnos de los nulos que quedan que son first_review_date y last_review_date<br>

In [17]:
print(Tourist_Accommodation["first_review_date"].head())

0    02/01/2010
1    10/10/2014
2    05/01/2011
3    13/03/2012
4    08/07/2011
Name: first_review_date, dtype: object

In [22]:
print(Tourist_Accommodation["last_review_date"].head())

0    05/09/2017
1    15/07/2018
2    22/07/2019
3    04/01/2020
4    08/08/2018
Name: last_review_date, dtype: object

In [20]:
print(Tourist_Accommodation[['first_review_date', 'last_review_date']].isnull().sum())

first_review_date    2604
last_review_date     2605
dtype: int64

In [ ]:
Tourist_Accommodation['first_review_date'] = pd.to_datetime(Tourist_Accommodation['first_review_date'], dayfirst=True)
Tourist_Accommodation['last_review_date'] = pd.to_datetime(Tourist_Accommodation['last_review_date'], dayfirst=True)

## convertir las columnas a datetime

In [24]:
Tourist_Accommodation['first_review_date'] = pd.to_datetime(Tourist_Accommodation['first_review_date'], dayfirst=True)
Tourist_Accommodation['last_review_date'] = pd.to_datetime(Tourist_Accommodation['last_review_date'], dayfirst=True)

## Para los valores nulos de first_review_date', 'last_review_date'

In [26]:
# Rellenar los valores nulos con la mediana
Tourist_Accommodation['first_review_date'] = Tourist_Accommodation['first_review_date'].fillna(Tourist_Accommodation['first_review_date'].median())
Tourist_Accommodation['last_review_date'] = Tourist_Accommodation['last_review_date'].fillna(Tourist_Accommodation['last_review_date'].median())

In [27]:
# Verificar que no hay valores nulos
print(Tourist_Accommodation[['first_review_date', 'last_review_date']].isnull().sum())

first_review_date    0
last_review_date     0
dtype: int64

## insert_day  a formato fecha

In [29]:
# Convertir la columna 'insert_date' a datetime
Tourist_Accommodation['insert_date'] = pd.to_datetime(Tourist_Accommodation['insert_date'], dayfirst=True)

In [30]:
print(Tourist_Accommodation["insert_date"].head())

0   2018-07-31
1   2020-01-10
2   2019-07-29
3   2020-01-10
4   2019-02-19
Name: insert_date, dtype: datetime64[ns]

## Se llevo la columna has_availability a booleano

In [ ]:
# Convertir 'VERDADERO' a True y 'FALSO' a False
Tourist_Accommodation['has_availability'] = Tourist_Accommodation['has_availability'].replace({'VERDADERO': True, 'FALSO': False})
# Convertir la columna a tipo booleano
Tourist_Accommodation['has_availability'] = Tourist_Accommodation['has_availability'].astype(bool)

In [35]:
# verificando
print(Tourist_Accommodation['has_availability'].dtypes)
print(Tourist_Accommodation['has_availability'].head())

bool
0    True
1    True
2    True
3    True
4    True
Name: has_availability, dtype: bool

# OPERACIONES Y GESTIÓN DE INVENTARIO

# kPI'S

## 1. Tasa de ocupación %

In [ ]:
from IPython.display import Image, display
ruta = r"C:\Users\crist\Downloads\tasa-ocupacion1.png"
display(Image(filename=ruta))

## 2. Ciudad con mayor ocupación

In [ ]:
from IPython.display import Image, display
ruta = r"C:\Users\crist\Downloads\ciudad-mayor-ocupacion.png"
display(Image(filename=ruta))

# 3. Índice de Satisfacción general

In [ ]:
from IPython.display import Image, display
ruta = r"C:\Users\crist\Downloads\indice-satisfaccion.png"
display(Image(filename=ruta))

# 4. Satisfacción promedio

In [ ]:
from IPython.display import Image, display
ruta = r"C:\Users\crist\Downloads\item-mayor-promedio.png"
display(Image(filename=ruta))

# Desafío
Pregunta de negocio:
Analista de Marketing y Estrategia Comercial: ¿Cuál es el precio medio de los alojamientos por tipos de alojamiento en cada ciudad?<br>
Analista de operaciones y gestión de inventario: ¿Cuál es la disponibilidad media de los alojamientos turísticos en los diferentes plazos (30, 60, 90 y 365 días) en cada ciudad?<br>
Analista de experiencia del cliente: ¿Cuál es la puntuación media dada por los usuarios a los alojamientos turísticos, y qué porcentaje de alojamientos tienen una evaluación general más grande de 80 en cada ciudad?<br>

Entrega:<br>
• URL al Proyecto a GitHub: Incluye el código de preprocesamiento de datos y lo dashboard de visualización realizados por los analistas.<br>
• URL al Tablero Kanban: Incluye el progreso y la distribución de tareas vinculadas al análisis de estedesafío.<br>
• Exposición oral con presentación conjunta en fichero ppt : presentación breve del análisis y lasrecomendaciones de negocio (10 minutos por perfil de analista).<br>

# Calendario

In [ ]:
from IPython.display import Image, display
ruta = r"C:\Users\crist\Downloads\calendario-a.png"
display(Image(filename=ruta))