# Lectura de csv Per treballar amb dades netes

In [2]:
import pandas as pd

In [2]:
# Llegim el CSV amb totes les dades correctes, llestes per treballar.
df = pd.read_csv("df_tourist_python.csv", sep= ";")

FileNotFoundError: [Errno 2] No such file or directory: 'df_tourist_python.csv'

In [5]:
# Verifiquem que les dades tenen el format que ens permetra fer tots els analisis.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6733 entries, 0 to 6732
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   apartment_id                 6733 non-null   int64
 1   name                         6730 non-null   object
 2   description                  6706 non-null   object
 3   host_id                      6733 non-null   int64
 4   neighbourhood_name           6733 non-null   object
 5   neighbourhood_district       4075 non-null   object
 6   room_type                    6733 non-null   object
 7   accommodates                 6733 non-null   int64
 8   bathrooms                    6733 non-null   float64
 9   bedrooms                     6733 non-null   float64
 10  beds                         6733 non-null   float64
 11  amenities_list               6717 non-null   object
 12  price                        6733 non-null   float64
 13  minimum_nights               6733 non-null   int64
 14  maximum_nights               6733 non-null   int64
 15  has_availability             6733 non-null   bool
 16  availability_30              6733 non-null   int64
 17  availability_60              6733 non-null   int64
 18  availability_90              6733 non-null   int64
 19  availability_365             6733 non-null   int64
 20  number_of_reviews            6733 non-null   int64
 21  first_review_date            5530 non-null   object
 22  last_review_date             5529 non-null   object
 23  review_scores_rating         6733 non-null   float64
 24  review_scores_accuracy       6733 non-null   float64
 25  review_scores_cleanliness    6733 non-null   float64
 26  review_scores_checkin        6733 non-null   float64
 27  review_scores_communication  6733 non-null   float64
 28  review_scores_location       6733 non-null   float64
 29  review_scores_value          6733 non-null   float64
 30  is_instant_bookable          6733 non-null   object
 31  reviews_per_month            6733 non-null   float64
 32  country                      6733 non-null   object
 33  city                         6733 non-null   object
 34  insert_date                  6733 non-null   object
dtypes: bool(1), float64(12), int64(10), object(12)
memory usage: 1.8+ MB

# Sprint 1:

## KPI

In [5]:
import pandas as pd

#TASA OCUPACIÓN

total_disponibilidad = df['availability_30'].sum() #Sumamos la disponibilidad total
total_filas = len(df) #Número total de filas
dias_totales = 30 * total_filas #Días totales disponibles

tasa_ocupacion = (dias_totales - total_disponibilidad) / dias_totales

print(f"Tasa de Ocupación: {tasa_ocupacion:.2%}") #Resultado con 2 decimales y en porcentaje

Tasa de Ocupación: 59.03%

In [12]:
#CIUDAD CON MAYOR OCUPACIÓN

import pandas as pd

#Agrupación por ciudad
tasa_por_ciudad = df.groupby("city").agg(
    total_disponibilidad=("availability_30", "sum"),
    total_filas=("availability_30", "count")
)

# Calcular la disponibilidad y la ocupación
tasa_por_ciudad["dias_totales"] = 30 * tasa_por_ciudad["total_filas"]
tasa_por_ciudad["tasa_ocupacion"] = (
    (tasa_por_ciudad["dias_totales"] - tasa_por_ciudad["total_disponibilidad"]) /
    tasa_por_ciudad["dias_totales"]
) * 100

# Quedarnos con la ciudad con mayor ocupación
top_city_row = tasa_por_ciudad["tasa_ocupacion"].idxmax()
tasa_max = tasa_por_ciudad.loc[top_city_row, "tasa_ocupacion"]

ciudad_porcen = f"{top_city_row} - {tasa_max:.1f}%"

print(ciudad_porcen)

madrid - 65.3%

In [7]:
#ÍNDICE OCUPACIÓN

#Media de review scores rating
indice_satisfaccion = round(df['review_scores_rating'].mean(), 2)

print(f"Índice de Satisfacción: {indice_satisfaccion}")

Índice de Satisfacción: 92.4

In [13]:
#ALOJAMIENTO CON MAYOR PUNTUACIÓN

# Se crea una columan con la media de las 5 diferentes puntuaciones de cada apartamento
df["satisfaccion"] = df[[
    "review_scores_accuracy",
    "review_scores_cleanliness",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_checkin"
]].mean(axis=1)

# Nos quedamos con el valor más alto
top_row = df.loc[df["satisfaccion"].idxmax()]

nombre_score = f"{top_row['name']} - {top_row['satisfaccion']:.1f}"

print(nombre_score)

A ROOM WITH A VIEW - 100.0

## Análisis orientado (Marketing)

In [5]:
# Responen a la pregunta
# Quin es el preu mitja per tipus d'allotjament a cada ciutat?
# Escollom les columnes amb informacio, per graficar amb Power BI

df.groupby(["city","room_type"])["price"].mean().round(2)

city       room_type
barcelona  Entire home/apt    1293.36
           Hotel room         1444.29
           Private room        454.53
           Shared room         369.44
girona     Entire home/apt    1222.18
           Hotel room          625.00
           Private room        602.12
madrid     Entire home/apt     938.10
           Hotel room          857.00
           Private room        372.88
           Shared room         313.33
malaga     Entire home/apt     815.00
           Hotel room          703.33
           Private room        356.73
           Shared room         143.33
mallorca   Entire home/apt    1693.77
           Hotel room         1410.00
           Private room        697.75
           Shared room         493.33
menorca    Entire home/apt    1649.61
           Private room        610.00
sevilla    Entire home/apt    1032.67
           Hotel room          918.57
           Private room        602.39
           Shared room         120.00
valencia   Entire home/apt     793.60
           Hotel room          955.00
           Private room        339.39
           Shared room         203.33
Name: price, dtype: float64

## Análisis orientado a experiencia usuario (Usuario)

## Análisis orientado a negocio (Operaciones)

Crear df operaciones

In [11]:
df_op = df[['apartment_id','host_id','country','city','neighbourhood_name','neighbourhood_district','accommodates','room_type','description','amenities_list','beds','bedrooms','bathrooms','minimum_nights','maximum_nights','is_instant_bookable','availability_30','availability_60','availability_90','availability_365','price','insert_date']]

df_op

,apartment_id,host_id,country,city,neighbourhood_name,neighbourhood_district,accommodates,room_type,description,amenities_list,...,bathrooms,minimum_nights,maximum_nights,is_instant_bookable,availability_30,availability_60,availability_90,availability_365,price,insert_date
0,11964,45553,spain,malaga,Centro,NaN,2,Private room,Private bedroom in our attic apartment. Right ...,"TV,Internet,Wifi,Air conditioning,Elevator,Buz...",...,2.0,3,365,FALSO,7,20,40,130,400.0,2018-07-31
1,21853,83531,spain,madrid,C�rmenes,Latina,1,Private room,We have a quiet and sunny room with a good vie...,"TV,Internet,Wifi,Air conditioning,Kitchen,Free...",...,1.0,4,40,FALSO,0,0,0,162,170.0,2020-01-10
2,32347,139939,spain,sevilla,San Vicente,Casco Antiguo,4,Entire home/apt,Open French doors and step onto a plant-filled...,"TV,Internet,Wifi,Air conditioning,Wheelchair a...",...,1.0,2,120,VERDADERO,26,31,31,270,990.0,2019-07-29
3,35379,152232,spain,barcelona,l'Antiga Esquerra de l'Eixample,Eixample,2,Private room,Room at a my apartment. Kitchen and 2 bathroom...,"TV,Internet,Wifi,Kitchen,Breakfast,Elevator,Bu...",...,2.0,2,730,VERDADERO,9,23,49,300,400.0,2020-01-10
4,35801,153805,spain,girona,Quart,NaN,5,Private room,Lay in bed & watch sunlight change the mood of...,"Wifi,Pool,Free parking on premises,Breakfast,P...",...,1.0,1,180,FALSO,0,19,49,312,900.0,2019-02-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6728,27237828,1323233,spain,girona,B�scara,NaN,2,Entire home/apt,"Independent guest house, forming part of an ex...","TV,Cable TV,Internet,Wifi,Air conditioning,Poo...",...,1.0,2,1124,FALSO,22,47,77,78,1500.0,2018-08-30
6729,27241318,80839530,spain,mallorca,Sa Pobla,NaN,10,Entire home/apt,Enjoy the peace of the countryside in this bea...,"TV,Cable TV,Internet,Wifi,Air conditioning,Poo...",...,4.0,7,1125,VERDADERO,26,37,37,243,3130.0,2020-04-23
6730,27244243,151496825,spain,girona,Cadaqu�s,NaN,4,Entire home/apt,Apartment in Cadaqu�s center. 1rst �floor. Ele...,"TV,Internet,Wifi,Air conditioning,Kitchen,Elev...",...,1.0,1,1125,VERDADERO,24,40,40,40,990.0,2018-08-30
6731,27244794,151496825,spain,girona,Cadaqu�s,NaN,2,Entire home/apt,101.38.- Apartment placed Sa T�rtora � Sant An...,"TV,Kitchen,Buzzer/wireless intercom,Family/kid...",...,1.0,1,1125,VERDADERO,0,0,0,0,720.0,2019-12-31
6732,27245117,137859766,spain,girona,Cadaqu�s,NaN,6,Entire home/apt,Apartment with parking situated in the upper p...,"TV,Internet,Wifi,Air conditioning,Kitchen,Buzz...",...,2.0,2,31,VERDADERO,23,38,51,179,950.0,2020-05-28

Media disponibilidad global

In [12]:
media_disp_glob= df_op[['availability_30', 'availability_60','availability_90','availability_365']].mean().reset_index(name= 'Media_disp_glob').round(2)
media_disp_glob

              index  Media_disp_glob
0   availability_30            12.29
1   availability_60            27.42
2   availability_90            44.30
3  availability_365           187.39

Quina és la disponibilitat mitjana dels allotjaments turístics en els diferents terminis (30, 60, 90 i 365 dies) a cada ciutat?

In [13]:
media_disp_ciudad= df_op.groupby('city')[['availability_30', 'availability_60','availability_90','availability_365']].mean().reset_index().round(2)
media_disp_ciudad

,city,availability_30,availability_60,availability_90,availability_365
0,barcelona,11.11,25.63,42.50,182.09
1,girona,14.59,31.27,48.35,195.07
2,madrid,10.41,24.12,39.95,163.56
3,malaga,12.14,28.43,47.13,202.65
4,mallorca,13.41,28.70,45.17,210.92
5,menorca,14.99,30.88,47.54,199.49
6,sevilla,14.06,30.92,50.05,199.75
7,valencia,13.59,29.73,47.72,183.75