# Lectura de csv Per treballar amb dades netes

In [2]:
import pandas as pd

In [3]:
# Llegim el CSV amb totes les dades correctes, llestes per treballar.
df = pd.read_csv("df_tourist_python.csv", sep= ";")

In [ ]:
# Verifiquem que les dades tenen el format que ens permetra fer tots els analisis.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6733 entries, 0 to 6732
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   apartment_id                 6733 non-null   int64
 1   name                         6730 non-null   object
 2   description                  6706 non-null   object
 3   host_id                      6733 non-null   int64
 4   neighbourhood_name           6733 non-null   object
 5   neighbourhood_district       4075 non-null   object
 6   room_type                    6733 non-null   object
 7   accommodates                 6733 non-null   int64
 8   bathrooms                    6733 non-null   float64
 9   bedrooms                     6733 non-null   float64
 10  beds                         6733 non-null   float64
 11  amenities_list               6717 non-null   object
 12  price                        6733 non-null   float64
 13  minimum_nights               6733 non-null   int64
 14  maximum_nights               6733 non-null   int64
 15  has_availability             6733 non-null   bool
 16  availability_30              6733 non-null   int64
 17  availability_60              6733 non-null   int64
 18  availability_90              6733 non-null   int64
 19  availability_365             6733 non-null   int64
 20  number_of_reviews            6733 non-null   int64
 21  first_review_date            5530 non-null   object
 22  last_review_date             5529 non-null   object
 23  review_scores_rating         6733 non-null   float64
 24  review_scores_accuracy       6733 non-null   float64
 25  review_scores_cleanliness    6733 non-null   float64
 26  review_scores_checkin        6733 non-null   float64
 27  review_scores_communication  6733 non-null   float64
 28  review_scores_location       6733 non-null   float64
 29  review_scores_value          6733 non-null   float64
 30  is_instant_bookable          6733 non-null   object
 31  reviews_per_month            6733 non-null   float64
 32  country                      6733 non-null   object
 33  city                         6733 non-null   object
 34  insert_date                  6733 non-null   object
dtypes: bool(1), float64(12), int64(10), object(12)
memory usage: 1.8+ MB

# Sprint 1:

## KPI

In [5]:
import pandas as pd

#TASA OCUPACIÓN

total_disponibilidad = df['availability_30'].sum() #Sumamos la disponibilidad total
total_filas = len(df) #Número total de filas
dias_totales = 30 * total_filas #Días totales disponibles

tasa_ocupacion = (dias_totales - total_disponibilidad) / dias_totales

print(f"Tasa de Ocupación: {tasa_ocupacion:.2%}") #Resultado con 2 decimales y en porcentaje

Tasa de Ocupación: 59.03%

In [12]:
#CIUDAD CON MAYOR OCUPACIÓN

import pandas as pd

#Agrupación por ciudad
tasa_por_ciudad = df.groupby("city").agg(
    total_disponibilidad=("availability_30", "sum"),
    total_filas=("availability_30", "count")
)

# Calcular la disponibilidad y la ocupación
tasa_por_ciudad["dias_totales"] = 30 * tasa_por_ciudad["total_filas"]
tasa_por_ciudad["tasa_ocupacion"] = (
    (tasa_por_ciudad["dias_totales"] - tasa_por_ciudad["total_disponibilidad"]) /
    tasa_por_ciudad["dias_totales"]
) * 100

# Quedarnos con la ciudad con mayor ocupación
top_city_row = tasa_por_ciudad["tasa_ocupacion"].idxmax()
tasa_max = tasa_por_ciudad.loc[top_city_row, "tasa_ocupacion"]

ciudad_porcen = f"{top_city_row} - {tasa_max:.1f}%"

print(ciudad_porcen)

madrid - 65.3%

In [7]:
#ÍNDICE OCUPACIÓN

#Media de review scores rating
indice_satisfaccion = round(df['review_scores_rating'].mean(), 2)

print(f"Índice de Satisfacción: {indice_satisfaccion}")

Índice de Satisfacción: 92.4

In [13]:
#ALOJAMIENTO CON MAYOR PUNTUACIÓN

# Se crea una columan con la media de las 5 diferentes puntuaciones de cada apartamento
df["satisfaccion"] = df[[
    "review_scores_accuracy",
    "review_scores_cleanliness",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_checkin"
]].mean(axis=1)

# Nos quedamos con el valor más alto
top_row = df.loc[df["satisfaccion"].idxmax()]

nombre_score = f"{top_row['name']} - {top_row['satisfaccion']:.1f}"

print(nombre_score)

A ROOM WITH A VIEW - 100.0

## Análisis orientado (Marketing)

In [5]:
# Responen a la pregunta
# Quin es el preu mitja per tipus d'allotjament a cada ciutat?
# Escollom les columnes amb informacio, per graficar amb Power BI

df.groupby(["city","room_type"])["price"].mean().round(2)

city       room_type
barcelona  Entire home/apt    1293.36
           Hotel room         1444.29
           Private room        454.53
           Shared room         369.44
girona     Entire home/apt    1222.18
           Hotel room          625.00
           Private room        602.12
madrid     Entire home/apt     938.10
           Hotel room          857.00
           Private room        372.88
           Shared room         313.33
malaga     Entire home/apt     815.00
           Hotel room          703.33
           Private room        356.73
           Shared room         143.33
mallorca   Entire home/apt    1693.77
           Hotel room         1410.00
           Private room        697.75
           Shared room         493.33
menorca    Entire home/apt    1649.61
           Private room        610.00
sevilla    Entire home/apt    1032.67
           Hotel room          918.57
           Private room        602.39
           Shared room         120.00
valencia   Entire home/apt     793.60
           Hotel room          955.00
           Private room        339.39
           Shared room         203.33
Name: price, dtype: float64

## Análisis orientado a experiencia usuario (Usuario)

## Análisis orientado a negocio (Operaciones)